/* 设计性实验复习通用css */

span.desexp-span {
    border-bottom: 1px solid rgb(200, 200, 200);
}

.desexp-text {
    opacity:0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}
.desexp-text:hover  {
    opacity:1;
}