@font-face
{
  font-family: "Container Title Font";
  src: url("../fonts/banner-font.ttf");
}
@font-face
{
  font-family: "Logo Font";
  src: url("../fonts/logo-font.ttf");
}
/*导航栏CSS*/
#header-logo {
  float:left;
  height:50px;
}
.navbar-brand span {
  float:left;
  position:relative;
  top:18px;
  padding: 0 0 0 5px;
  font-family: "Logo Font";
  font-size: 30px;
}
.navbar-brand span, .header .navbar-nav>li>a {
  color: RGB(200, 200, 200);
}
.header .btns .sign-out, .header .btns .username {
  color:black;
  border:1px solid hsla(0,0%,100%,.5);
  border-radius:4px
}
.header .btns .sign-out:hover {
  color:hsla(0,0%,100%,.5);
  background-color:#2d323e;
}
/*首页CSS*/
.banner-container {
  min-height:612px;
}
.banner-container form {
  padding: 40px 0 10px 0;
  background-color: RGBA(0, 0, 0, 0.1);
}
.navbar-banner {
  margin-top: 45px;
  background-image: url("../img/phylab_navbar_banner4.png");
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
}
.navbar-brand span:hover {
  color: white;
}
.container-title {
  font-family: "Container Title Font";
  font-size: 80px;
  position: relative;
  left: 180px;
}
.banner-container form .tip {
  color: RGBA(255, 255, 255, 1);
}
.path-item .path-name, .path-item .path-course-num  {
  padding: 0;
}
.path-item .path-name {
  font-size: 14px;
}
.path-item div {
  padding: 0;
}
/*数据处理页CSS*/
#lab-console {
  margin-top: -20px;
  height: auto;
}
#lab-console #lab-container {
  width: 100%;
}
#lab-console #lab-container .tab-content .tab-pane {
  height: 94%;
}
.lab-name-list {
  display: none;
}
td input {
  min-width: 60px;
}
td input.form-control {
  padding: 2px 4px;
}
#lab-select-modal .panel-group .panel-heading {
  width: 100%;
  color: white;
  background-color: #08c093;
  border-radius: 4px;
  padding: 0;
}
#lab-select-modal .panel-group .panel-heading h4 div{
  padding: 10px 15px;
}
#lab-report .panel-title .btn {
  color: white;
  background-color: #08c093;
  position: relative;
  top: -5px;
}
#report-num {
  left: 5px;
  background-color: rgb(25, 30, 41);
}
#chrom_pdf object {
  width:100%;
  height:100%;
  min-height:780px;
}
#wait-report {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: RGBA(0, 0, 0, 0.5);
  display: none;
}
#wait-report-spinner {
  position: absolute;
  top: 50%;
  left: 45%;
  color: RGB(200, 200, 200);
}
/*登录页CSS*/
#auto-login {
  padding: 0px;
}
#auto-login .checkbox-inline {
  padding-left: 30px;
}
.login-body .submit .btn-primary, .signup-container .submit .btn-primary{
  color: #fff;
  background-color: #0c9;
  border-color: #0c9;
}
/*注册页CSS*/
.captcha {
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}
#login-alert {
  display: none;
  height:30px;
  padding:5px;
}
.alert {
  display: none;
}
/*页脚CSS*/
.footer-qq, .footer-blog{
  display:none;
  position:absolute;
  bottom:45px;
  left:-40px;
  width: 150px;
  padding:6px;
  background:#1f2532;
  text-align:center;
  box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.75);
}
.footer-qq-item:hover .footer-qq, .footer-blog-item:hover .footer-blog {
  display: block;
}
.footer-blog-item:hover i {
  color: red;
}
#footer-logo {
  height:100px;
}
.footer-weixin-item {
  position: relative;
  left: 60%;
}
.footer-blog-item {
  position: relative;
  right: 60%;
}
